<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="The Anti-Bullying Scorecard">
	<meta name="author" content="Ashley Christman">
	<title>Dashboard | Anti-Bullying Scorecard</title>

	<!-- Favicons-->
	<link rel="shortcut icon" href="\img\favicon\favicon.ico" type="image/x-icon">
	<link rel="apple-touch-icon" type="image/x-icon" href="\img\favicon\apple-touch-icon.png">

	<!-- GOOGLE WEB FONT -->
	<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">

	<!-- BASE CSS -->
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/style.css" rel="stylesheet">
	<link href="/css/vendors.css" rel="stylesheet">

	<!-- YOUR CUSTOM CSS -->
	<link href="/css/custom.css" rel="stylesheet">
</head>

<body>
	<div id="page">

		<%- include('partials/flash') %>
		<%- include('partials/header2') %>


			<main class="margin_main_container">
				<div class="user_summary">
					<div class="wrapper">
						<div class="container">
							<div class="row">
								<div class="col-md-6">
									<figure>
										<img src="/img/avatar4.jpg" alt="">
									</figure>
									<h1><%= user.name %></h1>
									<span>
										<%= user.email %>
									</span>
									<p><a href="/user/settings">Account Settings</a></p>
								</div>
								<div class="col-md-6">
									<ul>
										<li>
											<strong>
												<%= total %>
											</strong>
											<a href="#" class="tooltips" data-bs-toggle="tooltip" data-placement="bottom"
												title="Reviews written by you"><i class="icon_star"></i> Reviews</a>
										</li>
										<li>
											<strong>
												<%= upvotes %>
											</strong>
											<a href="" class="tooltips" data-bs-toggle="tooltip" data-placement="bottom"
												title="Number of people who found your reviews useful"><i class="icon_like_alt"></i> Useful</a>
										</li>
										<li>
											<strong>
												<%= downvotes %>
											</strong>
											<a href="" class="tooltips" data-bs-toggle="tooltip" data-placement="bottom"
												title="Number of people who found your reviews not useful"><i
													class="icon-thumbs-down-alt"></i>Not Useful</a>
										</li>
									</ul>
								</div>
							</div>
						</div>
						<!-- /container -->
					</div>
				</div>
				<!-- /user_summary -->

				<div class="container margin_60_35">
					<div class="row">
						<div class="col-lg-12">
							<% if (!scorecards.length) { %>
								<div class="review_card no_scorecards">
									<h4>You have not posted any scorecards.</h4>
									<p><a href="/schools">Click here</a> to create a scorecard now. </p>
		
								</div>
							<% } else { scorecards.forEach((scorecard, i) => { %>
								<div class="review_card">
									<div class="row">
										<div class="col-md-2 user_info">
											<figure><img src="/img/avatar4.jpg" alt=""></figure>

											<h5>Review: <%= scorecardSchools[i] %></h5>
										</div>
										<div class="col-md-10 review_content">
											<div class="clearfix add_bottom_15">
												<span class="rating">
													<% for(let i = 1; i <= 5; i++) { %>
														<% if (i <= scorecard.rating) { %>
															<i class="icon_star"></i>
														<% } else { %>
															<i class="icon_star empty"></i>
														<% } %>
													<% } %>
													<em><%= scorecard.rating %>/5</em>
												</span>

												<em>Published: <%= scorecard.date.toLocaleDateString("en-US") %></em>
											</div>
											<h4><%= scorecard.title %></h4>

											<p><%= scorecard.review %></p>
											<ul>
												<li><a class="btn_delete" data-id='<%=scorecard._id%>'><i class="icon-trash"></i> Delete</a></li>

												<li><a href="/scorecards/<%=scorecard.id%>/edit" class="btn_edit"><i class="icon-edit-3"></i> Edit</a></li>
											</ul>
										</div>
									</div>
									<!-- /row -->
								</div>
								<!-- /review_card -->
							<% })} %>
						</div>
						<!-- /col -->


						<!-- <div class="col-lg-4">
							<div class="box_general general_info">
								<h3>Delete a review<i class="pe-7s-help1"></i></h3>
								<p><strong>Mucius doctus constituto pri at.</strong> At vix utinam corpora, ea oblique moderatius usu.
									Vix id viris consul honestatis, an constituto deterruisset consectetuer pro quo corrumpit
									euripidis...<br><strong><a href="faq.html">Read more</a></strong></p>
								<hr>
								<h3>Post a review<i class="pe-7s-help1"></i></h3>
								<p>Dolor detraxit duo in, ei sea dicit reformidans. Mel te accumsan patrioque referrentur. Has causae
									perfecto ut, ex choro assueverit eum...<br><strong><a href="faq.html">Read more</a></strong></p>
								<hr>
								<h3>Approve a review<i class="pe-7s-help1"></i></h3>
								<p>Sed ne prompta insolens mediocrem, omnium fierent sed an, quod vivendo mel in. Argumentum honestatis
									ad mel, cu vis quot utroque...<br><strong><a href="faq.html">Read more</a></strong></p>
								<hr>
								<div class="text-center"><a href="faq.html" class="btn_1 small">View all FAQ</a></div>
							</div>
						</div> -->
					</div>
					<!-- /row -->
				</div>
				<!-- /container -->
			</main>
			<!--/main-->

			<%- include('partials/footer') %>

				<!-- COMMON SCRIPTS -->
				<script src="/js/common_scripts.js"></script>
				<script src="/js/functions.js"></script>
				<script src="/assets/validate.js"></script>
				<script src="/js/main.js"></script>

</body>

</html>