<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="VANNO - Premium directory consumer reviews and listings template by Ansonika">
	<meta name="author" content="Ansonika">
	<title>Edit Scorecard | Anti-Bullying Scorecard</title>

	<script src="https://www.google.com/recaptcha/api.js" async defer></script>

	<!-- Favicons-->
	<link rel="shortcut icon" href="\img\favicon\favicon.ico" type="image/x-icon">
	<link rel="apple-touch-icon" type="image/x-icon" href="\img\favicon\apple-touch-icon.png">

	<!-- GOOGLE WEB FONT -->
	<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">

	<!-- BASE CSS -->
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/style.css" rel="stylesheet">
	<link href="/css/vendors.css" rel="stylesheet">

	<!-- YOUR CUSTOM CSS -->
	<link href="/css/custom.css" rel="stylesheet">

</head>

<body>
	<div id="page">

		<%- include('partials/flash') %>
		<%- include('partials/header2') %>

			<main class="margin_main_container">
				<div class="container margin_60_35">
					<div class="row">
						<div class="col-lg-12">
							<div class="box_general write_review">
								<form action="/scorecards/<%= scorecard.id %>/edit" enctype="multipart/form-data" method="post">
									<!-- <input type="hidden" name="_method" value="put"> -->
									<h1>Edit your scorecard for <%= school.school_name %></h1>
									<input type="hidden" name="scorecardId" value="<%= scorecard.id %>">
									<input type="hidden" name="schoolId" value="<%= school.id %>">
									<div class="rating_submit">
										<div class="form-group">
											<label class="d-block">Overall rating</label>
											<span class="rating">
												<input type="radio" class="rating-input edit-rating" id="5_star" name="rating" value="5"
													<%=scorecard.rating==5 ? "checked" : "" %>>
												<label for="5_star" class="rating-star"></label>

												<input type="radio" class="rating-input edit-rating" id="4_star" name="rating" value="4"
													<%=scorecard.rating==4 ? "checked" : "" %>>
												<label for="4_star" class="rating-star"></label>

												<input type="radio" class="rating-input edit-rating" id="3_star" name="rating" value="3"
													<%=scorecard.rating==3 ? "checked" : "" %>>
												<label for="3_star" class="rating-star"></label>

												<input type="radio" class="rating-input edit-rating" id="2_star" name="rating" value="2"
													<%=scorecard.rating==2 ? "checked" : "" %>>
												<label for="2_star" class="rating-star"></label>

												<input type="radio" class="rating-input edit-rating" id="1_star" name="rating" value="1"
													<%=scorecard.rating==1 ? "checked" : "" %>>
												<label for="1_star" class="rating-star" required></label>
											</span>
										</div>
									</div>
									<!-- /rating_submit -->
									<div class="form-group">
										<label>Title of your review</label>
										<input class="form-control" type="text" name="title"
											placeholder="If you could say it in one sentence, what would you say?" value='<%= scorecard.title %>' required>
									</div>
									<div class="form-group">
										<label>Your review</label>
										<textarea class="form-control" style="height: 180px;" name="review"
											placeholder="Write your review to help others learn about this school's anti-bullying policies and procedures" 
											required><%= scorecard.review %></textarea>
									</div>
									<div class="form-group">
										<label>Add your photo (optional)</label>
										<div class="fileupload"><input type="file" name="file" accept="image/*,.pdf"></div>
									</div>
									<div class="form-group">
										<div class="g-recaptcha" data-sitekey='6LdPV-ohAAAAAOJG-hW0CIO1y4nZBulKiTnxSlPb'></div>

										<div class="checkboxes float-start add_bottom_15 add_top_15">
											<label class="container_check">By clicking the submit button below, I hereby agree to and accept
												the
												<a href="/terms" target="_blank">terms and conditions</a> governing my
												use of the Anti-Bullying Scorecard website.
												<input type="checkbox" required>
												<span class="checkmark"></span>
											</label>																					
										</div>
									</div>
									<input type="submit" class="btn_1 edit" value="Submit Scorecard">
								</form>
							</div>
						</div>
						<!-- /col -->

					</div>
				</div>
				<!-- /row -->
	</div>
	<!-- /container -->
	</main>
	<!--/main-->

	<%- include('partials/footer') %>

		<!-- COMMON SCRIPTS -->
		<script src="/js/common_scripts.js"></script>
		<script src="/js/functions.js"></script>
		<script src="/assets/validate.js"></script>
		<script src="/js/main.js"></script>

</body>

</html>