<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="The Anti-Bullying Scorecard">
	<meta name="author" content="Ashley Christman">
	<title>Anti-Bullying Scorecard</title>

	<script src="https://code.jquery.com/jquery-3.6.0.min.js"
		integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

	<!-- Favicons-->
	<link rel="shortcut icon" href="\img\favicon\favicon.ico" type="image/x-icon">
	<link rel="apple-touch-icon" type="image/x-icon" href="\img\favicon\apple-touch-icon.png">

	<!-- GOOGLE WEB FONT -->
	<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">

	<!-- BASE CSS -->
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/style.css" rel="stylesheet">
	<link href="/css/vendors.css" rel="stylesheet">
	<link href="/css/jquery-ui.min.css" rel="stylesheet">
	<link href="/css/jquery-ui.structure.min.css" rel="stylesheet">
	<link href="/css/jquery-ui.theme.min.css" rel="stylesheet">

	<!-- YOUR CUSTOM CSS -->
	<link href="/css/custom.css" rel="stylesheet">

</head>

<body>
	<div id="page">

		<%- include('partials/header1') %>

			<main>
				<section class="hero_single version_1">
					<div class="wrapper">
						<div class="container">
							<img src="\img\abs-round.png" alt="">
							<h3>Rate the Anti-Bullying initiatives of your child's school</h3>
							<p>Together, we can change the narrative.</p>
							<div class="row justify-content-center">
								<div class="col-lg-9">
									<form method="get" action="">
										<div class="row g-0 custom-search-input-2">
											<div class="col-lg-8">
												<div class="form-group ui=widget">
													<input class="search-name form-control" type="text" placeholder="Enter School Name"
														id="school" name="school">
													<i class="icon_search"></i>
												</div>
											</div>
											<div class="col-lg-4">
												<select class="search-state wide">
													<!-- <option value="">Select State</option> -->
													<!-- <option value="AL">Alabama</option>
												<option value="AK">Alaska</option>
												<option value="AZ">Arizona</option>
												<option value="AR">Arkansas</option>
												<option value="CA">California</option>
												<option value="CO">Colorado</option>
												<option value="CT">Connecticut</option>
												<option value="DE">Delaware</option>
												<option value="DC">District of Columbia</option>
												<option value="FL">Florida</option>
												<option value="GA">Georgia</option>
												<option value="HI">Hawaii</option>
												<option value="ID">Idaho</option>
												<option value="IL">Illinois</option>
												<option value="IN">Indiana</option>
												<option value="IA">Iowa</option>
												<option value="KS">Kansas</option>
												<option value="KY">Kentucky</option>
												<option value="LA">Louisiana</option>
												<option value="ME">Maine</option>
												<option value="MD">Maryland</option>
												<option value="MA">Massachusetts</option>
												<option value="MI">Michigan</option>
												<option value="MN">Minnesota</option>
												<option value="MS">Mississippi</option>
												<option value="MO">Missouri</option>
												<option value="MT">Montana</option>
												<option value="NE">Nebraska</option>
												<option value="NV">Nevada</option>
												<option value="NH">New Hampshire</option>
												<option value="NJ">New Jersey</option>
												<option value="NM">New Mexico</option>
												<option value="NY">New York</option>
												<option value="NC">North Carolina</option>
												<option value="ND">North Dakota</option>
												<option value="OH">Ohio</option>
												<option value="OK">Oklahoma</option>
												<option value="OR">Oregon</option> -->
													<option value="PA">Pennsylvania</option>
													<!-- <option value="PR">Puerto Rico</option>
												<option value="RI">Rhode Island</option>
												<option value="SC">South Carolina</option>
												<option value="SD">South Dakota</option>
												<option value="TN">Tennessee</option>
												<option value="TX">Texas</option>
												<option value="UT">Utah</option>
												<option value="VT">Vermont</option>
												<option value="VA">Virginia</option>
												<option value="WA">Washington</option>
												<option value="WV">West Virginia</option>
												<option value="WI">Wisconsin</option>
												<option value="WY">Wyoming</option> -->
												</select>
											</div>
											<div class="col-lg-2">
												<!-- <input type="submit" value="Search" class="search-btn"> -->
											</div>
										</div>
										<!-- /row -->
									</form>
								</div>
							</div>
						</div>
					</div>
				</section>
				<!-- /hero_single -->

				<div class="bg_color_1">
					<div class="container margin_60">
						<div class="main_title_3">
							<h2>Latest Scorecards</h2>
							<p>See what other parents are saying.</p>
							<a href="reviews-page.html">View all</a>
						</div>

						<div id="reccomended" class="owl-carousel owl-theme">
							<% scorecards.forEach((scorecard, i) => { %>
							<div class="item">
								<div class="review_listing">
									<div class="clearfix">
										<figure><img src="/img/avatar1.jpg" alt=""></figure>
										<span class="rating">
											<% for(let i = 1; i <= 5; i++) { %>
												<% if (i <= scorecard.rating) { %>
													<i class="icon_star"></i>
												<% } else { %>
													<i class="icon_star empty"></i>
												<% } %>
											<% } %>
									<em><%= scorecard.rating %>/5</em>
										</span>
										<!-- <small>Shops</small> -->
									</div>
									<h3 class="review_heading"><strong><%= scorecardUsers[i] %></strong><br>reviewed <a href="/schools/<%= scorecard.school._id %>"><%= scorecardSchools[i] %></a></h3>
									<h4 class="review_title"><%= scorecard.title %></h4>
									<p><%= scorecard.review.slice(0, 200) %>...</p>
									<ul class="clearfix">
										<li><small>Published: <%= scorecard.date.toLocaleDateString("en-US") %></small></li>
										<li><a href="/schools/<%= scorecard.school._id %>#<%= scorecard._id %>" class="btn_1 small">Read Full Review</a></li>
									</ul>
								</div>
							</div>
							<% }) %>
						</div>
						<!-- /carousel -->
					</div>
					<!-- /container -->
				</div>
				<!-- /bg_color_1 -->

				<div class="call_section_3">
					<div class="wrapper">
						<div class="container clearfix">
							<div class="col-lg-5 col-md-7 float-end">
								<h3>Our Mission</h3>
								<p><strong>One out of every five</strong> students report being bullied.<sup><cite><a
												href="https://nces.ed.gov/pubs2019/2019054.pdf">1</a></cite></sup> Students who experience
									bullying are at increased risk for depression, anxiety, sleep difficulties, lower academic
									achievement, dropping out of school, and various negative health effects.<sup><cite><a
												href="https://www.cdc.gov/violenceprevention/pdf/yv/bullying-factsheet508.pdf">2</a></cite></sup>
									Our mission at Anti-Bullying Scorecard is to illuminate parents' voices to help schools recognize what
									is both effective and ineffective with their policies.</p>
								<p>Studies show that a solid school-based bullying prevention program has the ability to decrease
									bullying by up to 25%. With your voice, we can help improve the well-being of our next generation.</p>
								<p><a class="btn_1 add_top_10 wow bounceIn" href="/signup" data-wow-delay="0.5s">Join Us Now!</a>
								</p>
							</div>
						</div>
						<!-- /container -->
					</div>
				</div>
				<!-- /call_section -->

			</main>
			<!-- /main -->

			<%- include('partials/footer') %>

				<!-- COMMON SCRIPTS -->
				<script src="/js/common_scripts.js"></script>
				<script src="/js/functions.js"></script>
				<script src="/assets/validate.js"></script>
				<script src="/js/main.js"></script>
				<script src="/js/jquery-ui.min.js"></script>

				<!-- SPECIFIC SCRIPTS -->
				<script src="/js/jquery.cookiebar.js"></script>
				<script>
					(function ($) {
						'use strict';
						$.cookieBar({
							fixed: true
						});
					})(window.jQuery); 
				</script>
</body>

</html>