<%= scorecards.forEach((e, i) => { %>
  <%= if (i < 3) { %>
<div class="review_listing">
  <div class="clearfix add_bottom_10">
    <figure><img src="/img/avatar3.jpg" alt=""></figure>
    <span class="rating">
      <%= for (let i = 1; i <= scorecards.rating; i++) { %>
          <i class="icon_star"></i>
      <%= } %>
      <em><%= scorecards.rating %>/5</em>
    </span>
  </div>
  <h3><strong></strong></h3>
  <h4><%= scorecards.title %></h4>
  <p><%= scorecards.review.substring(0,100) %></p>
  <ul class="clearfix">
    <li><small><%= scorecards.date.toDateString() %></small></li>
    <li><a href="reviews-page.html" class="btn_1 small">Read review</a></li>
  </ul>
</div>
<%= }}) %>