<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="description" content="The Anti-Bullying Scorecard">
		<meta name="author" content="Ashley Christman">
		<title>Settings | Anti-Bullying Scorecard</title>
	
		<!-- Favicons-->
		<link rel="shortcut icon" href="\img\favicon\favicon.ico" type="image/x-icon">
		<link rel="apple-touch-icon" type="image/x-icon" href="\img\favicon\apple-touch-icon.png">

    <!-- GOOGLE WEB FONT -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">

    <!-- BASE CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
		<link href="/css/vendors.css" rel="stylesheet">

    <!-- YOUR CUSTOM CSS -->
    <link href="/css/custom.css" rel="stylesheet">

</head>

<body>
	
	<div id="page">
		
	<%- include('partials/flash') %>	
	<%- include('partials/header2') %>
	
	<main class="margin_main_container">
		<div class="user_summary">
			<div class="wrapper">
				<div class="container">
					<div class="row">
						<div class="col-md-6">
							<figure>
								<img src="<%= user.picture %>" alt="">
							</figure>
							<h1><%= user.name %></h1>
							<span><%= user.email %></span>
						</div>
						<div class="col-md-6">
							<ul>
								<li>
									<strong><%= total %></strong>
									<a href="#" class="tooltips" data-bs-toggle="tooltip" data-placement="bottom" title="Reviews written by you"><i class="icon_star"></i> Reviews</a>
								</li>
								<li>
									<strong><%= upvotes %></strong>
									<a href="#" class="tooltips" data-bs-toggle="tooltip" data-placement="bottom" title="Number of people who found your reviews useful"><i class="icon-user-1"></i> Useful</a>
								</li>
								<li>
									<strong><%= downvotes %></strong>
									<a href="#" class="tooltips" data-bs-toggle="tooltip" data-placement="bottom" title="Number of people who found your reviews not useful"><i class="icon_like_alt"></i> Not Useful</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<!-- /container -->
			</div>
		</div>
		<!-- /user_summary -->
		<div class="container margin_60_35">
			<div class="row">
				<div class="col-lg-8">
					<div class="settings_panel">
						<form action="/user/settings" method="post">
								<h3>Personal Settings</h3>
								<hr>
							<div class="form-group">
								<label>Edit Photo</label>
								<div class="fileupload"><input type="file" name="picture" accept="image/*"></div>
							</div>
							<div class="form-group">
								<label>Edit Email</label>
								<input class="form-control" type="email" name="email" value="<%= user.email %>" required>
								<% if (user.emailVerified) { %> 
									<div class="text-success font-italic">Verified</div>
									<% } else { %>
									<div class="text-danger font-italic">Unverified: &nbsp;<a href="/user/verify">Send verification email</a></div>
									<% } %>
							</div>
							<div class="form-group">		
								<label>Edit Name</label>
								<input class="form-control" type="text" name="name" value="<%= user.name %>" required>
							</div>
							<input type="submit" class="btn_1 small add_top_15 add_bottom_20" value="Save Personal Info">
						</form>
					</div>
					<!-- /settings_panel -->
					<div class="settings_panel">
						<form action="/user/password" method="post">
								<h3>Change Password</h3>
								<hr>
							<!-- <div class="form-group">
								<label>Current Password</label>
								<input class="form-control" type="password" id="password" name="currentPassword">
							</div> -->
							<div class="form-group">
								<label>New Password</label>
								<input class="form-control" type="password" id="password1" name="password">
							</div>
							<div class="form-group">
								<label>Confirm Password</label>
								<input class="form-control" type="password" id="password2" name="confirmPassword">
							</div>
							<div id="pass-info" class="clearfix"></div>
							<input type="submit" class="btn_1 small add_bottom_20" value="Update Password">
						</form>
					</div>
					<!-- /settings_panel -->
				</div>
				<!-- /col -->
				<div class="col-lg-4" id="sidebar">
					<div class="box_general">
						<h5>Linked Accounts</h5>
						<a href="/auth/facebook" class="social_bt facebook">Link your Facebook account</a>
						<a href="/auth/google" class="social_bt google">Link your Google account</a>
					</div>
					<div class="box_general">
						<h5>Delete Account</h5>
						<p>Your scorecards and profile will be permanently deleted.</p>
						<a class="btn_1 small" id="delete_user_btn">Delete account</a>
					</div>
	
				</div>
			</div>
		</div>

			<!-- /row -->
		</div>
		<!-- /container -->
	</main>
	<!--/main-->
	
	<%- include('partials/footer') %>
	
	<!-- COMMON SCRIPTS -->
    <script src="/js/common_scripts.js"></script>
		<script src="/js/functions.js"></script>
		<script src="/assets/validate.js"></script>
		<script src="/js/main.js"></script>

	
	<!-- SPECIFIC SCRIPTS -->
	<script src="/js/pw_strenght.js"></script>

</body>
</html>